

#cards{
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.contenedor {
    background-color: white;
    border: 1px solid #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
    width: 150px;
}

/*-----------------------------MediaQuery------------------------------------------------*/

@media (max-width: 600px){

    #cards{
        flex-direction: column;
        align-items: center;
    }
    .contenedor{
        width: 90%;
        margin-bottom: 15px;
    }
}